<html>
<style>
.factor{
    font-size: 10px;
    }
.center {
   width: 719px;
   margin: 0 auto;
   text-align: left;
}
.right {
}
.verb {
    font-size: 20px;
      }
</style>
<body>
<div class='center'>
<h1>Ideas</h1>
{% for attr in ideas %}
	<div>{{ attr.name }} {{ attr.suburb}} {{ attr.city }} {{ attr.state }}</div>
        <div class='factor'> 
            {% for factor in attr.factors %}
                {{ factor }}
            {% endfor %}
            <a href='/' >Read more..</a>
        </div>
{% endfor %}
</div>
</body>
</html>
