<html>
<style>
.factor{
    font-size: 10px;
    }
.center {
   width: 719px;
   margin: 0 auto;
   text-align: left;
}
.right {
}
.verb {
    font-size: 20px;
      }
</style>
<body>
<div class='center'>
<h1>Ideas</h1>
{% for idea in ideas %}
	<div>{{ idea.verb1 }} {{ idea.place1 }}  {{ idea.verb2 }} {{ idea.place2 }}</div>
        <div class='factor'> 
            {% for factor in idea.factors %}
                {{ factor }}
            {% endfor %}
            <a href='/' >Read more..</a>
        </div>
{% endfor %}
</div>
<div class='right'>
Read more
</div>
</body>
</html>
